       SpeechRecognition == 3.10.0
audio-recorder-streamlit == 0.0.8
 streamlit-audiorecorder == 0.0.2
             sounddevice == 0.4.6
           ffmpeg-python == 0.2.0
                   pydub == 0.25.1
 streamlit-audiorecorder == 0.0.2
               streamlit == 1.25.0
               langchain == 0.0.239
       langchainplus-sdk == 0.0.20
                   numpy == 1.25.1
                watchdog == 3.0.0
                 openapi == 0.27.8